<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <h1 class="title-post">Edit Post</h1>
    
    <form action="/edit/<%= post.id %>" method="post"  enctype="multipart/form-data">
      <div  class="container">
      <label for="title">Title:</label><br />
      <input
        type="text"
        id="title"
        name="title"
        value="<%= post.title %>"
        required
        class="Feedback-input"
      /><br />

      <label for="description">Description:</label><br />
      <textarea id="description" name="description" rows="4" cols="50"  class="Feedback-input" required>
<%= post.description %></textarea
      ><br />

      <label for="imageUrl">Image URL:</label><br />
      <img src="images/placeholder.png" alt="pic-image" id="profile-pic" class="img-center" name="image"><br>
      <input
        type="file"
        id="imageUrl"
        name="imageUrl"
        value="<%= post.imageUrl %>"
        required
      /><br />

      <button type="submit">Update Post</button>
    </div>
    </form>
 
    <%- include("partials/footer.ejs") %>

      <!-- About  image   -->
   <script>
    let profilePic =document.getElementById("profile-pic");
       let inputFile =document.getElementById("imageUrl");
       
       inputFile.onchange =function(){
           profilePic.src = URL.createObjectURL(inputFile.files[0])
       };
       
</script>
  </body>
</html>
