<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <h1 class="title-post">Welcome to the Blog</h1>
    <% if (successMessage) { %>
      <script>
        showMessage('Post edited successfully!', 'success');
        function showMessage(message, type) {
      const messageBox = document.createElement('div');
      messageBox.classList.add('message', type);
      messageBox.textContent = message;
  
      document.body.appendChild(messageBox);
  
      // Fade in the message box
      setTimeout(() => {
        messageBox.classList.add('visible');
      }, 100);
  
      // Fade out the message box after 3 seconds
      setTimeout(() => {
        messageBox.classList.remove('visible');
        // Remove the message box from the DOM after it fades out
        setTimeout(() => {
          document.body.removeChild(messageBox);
        }, 1000);
      }, 3000);
    } </script>
    <% } %>
    
  
    <!-- <a class="link" href="/newpost">Create New Post</a> -->
    <ul >
      <% posts.forEach(post => { %>
      <li class="container">
        <h2 ><%= post.title %></h2>
        <p class="desc-post"><%= post.description %></p>
        <img
        src="<%= post.imageUrl %>"
        alt="<%= post.title %>"
        style="max-width: 300px"
          class="img-center"
        />
        <form action="/delete/<%= post.id %>" method="POST" enctype="multipart/form-data">
          <div class="blog-input">
          <button  type="submit" id="deleteBtn"
           class="button2" >Delete</button>
          <a  class="link" href="/edit/<%= post.id %>" >Edit</a>
        </div>
      
        </form>
      </li>
      <% }) %>
    </ul>


    <!-- Custom Confirmation Modal -->
<div id="confirmModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete this post?</p>
    <div class="modal-buttons">
      <button id="confirmBtn" class="confirm">Confirm</button>
      <button id="cancelBtn" class="cancel">Cancel</button>
    </div>
  </div>
</div> 
    <%- include("partials/footer.ejs") %>

 
  </body>
</html>
